*{
  margin: 0;padding: 0;
  /*border: 0.5px solid #333;*/
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 68px;
  background: yellow;
}
.container{
  width: 80%;
  height: 100%;
  /*background: green;*/
  float: right;
}
.content{
  width: 100%;
  background: yellow;
  height: 100%;
}
.footer{
  float: right;
  width: 80%;
  background: red;
  box-sizing: content-box;
}
.ctn-control{
  float: left;
}
.top{
  clear: both;
  height: 68%; 
}
.say-hi{
  float: left;
  width: 20%;
  height: 30px;
  background: #c97b7b;
}
.intro{
  float: right;
  width: 300px;
  height: 30px;
  background: #f5c9c9;
}
.sticky{
  height: 42px;
  background: #11a837;
  position: sticky;
  top:0;
  z-index: 2;
}
.st-ctrl{
  float: left;
  width: auto;
  height: 100%;
  padding: 10px 5px 0 5px;
}
.home-icon, .icon-sticky{
  width: 43px;
  height: 40px;
}
.icon-left{
  margin: 0 0 0 10px;
  padding:0;
}
.search-icon{
  width: 34px;
  height: 35px;
  padding: 7px 6px 6px 6px;
}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6, .menu7, .menu8, .menu9, .menu10, .menu11, .menu12, .menu13, .icon-left, .intro{
  display:none;
}
.menu-div{
  padding:0;
}
.side{
  z-index: 1;
}
.side-left{
  width: 20%;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  left: 0;
  text-align: justify;
  position: fixed;
  top: 0;
  transition: 3s;
}
.leftmenuinner{
  height: 100%;
  width: 100%;
  display: inline-flex; 
}
.lorem-left{
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}